// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

// /**
//  * Set up a decent box model on the root element
//  */

html {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  // background-color: #eee;
  background-image: linear-gradient(-90deg, #ECB4BF, #C6ACC7);
}

// /**
//  * Make all elements from the DOM inherit from the parent box-sizing
//  * Since `*` has a specificity of 0, it does not override the `html` value
//  * making all elements inheriting from the root box-sizing value
//  * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
//  */
*, *::before, *::after {
 box-sizing: inherit;
} 

// /**
//  * Basic styles for links
//  */
a {
  //color: $brand-color;
  text-decoration: none;

  @include on-event {
    // color: $text-color;
    text-decoration: underline;
  }
}

// /**
//  * Links
//  */
a {
  color: #0074D9;
  text-decoration: none;
  outline: 0;
}
a:hover, a:focus {
  color: #40a6ff;
}

// /**
//  * Selection
//  */
 ::selection {
  background: #FFF498;
}

::-moz-selection {
  background: #FFF498;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #FFF498;
}
