// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

// /**
//  * Set up a decent box model on the root element
//  */
// Set box-sizing globally to handle padding and border widths
*,
::after,
::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

// /**
//  *  Base body and html
//  **/
body {
  background-image: linear-gradient(-90deg, $background);
}

// /**
//  * Basic styles for links
//  */
a {
  color: $link-color;
  text-decoration: none;

  @include on-event {
    color: $link-active-color;
    text-decoration: underline;
  }
}

// /**
//  * Selection
//  */
::selection {
  background: $selection;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #fff498;
}
