@use '1-Settings/colors';
@use '2-Tools/mixins' as *;

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

// /**
//  * Set up a decent box model on the root element
//  */
html {
  box-sizing: border-box;
}

// Set box-sizing globally to handle padding and border widths
*,
::after,
::before {
  box-sizing: inherit;
}

// /**
//  *  Base body and html
//  **/
body {
  background-image: linear-gradient(-90deg, colors.$background);
}

// /**
//  * Basic styles for links
//  */
a {
  @include on-event {
    color: colors.$link-active-color;
    text-decoration: underline;
  }
  color: colors.$link-color;
  text-decoration: none;
}

// /**
//  * Selection
//  */
::selection {
  background: colors.$selection;
  text-shadow: none;
}

img {
  ::selection {
    background: transparent;
  }
}
