@use '2-Tools/mixins' as mix;

.name {
  margin: 0 auto;
  min-width: 300px;
  text-align: center;
  width: 30%;
}

.text {
  @include mix.ib(3px, #333, 1);
  margin: 0 auto;
  min-width: 300px;
  text-align: center;
  width: 30%;
}
