// .main {
//   height: 85%;
//   // overflow: auto;
// }

.name {
  // display: block;
  text-align: center;
  // margin: 0 auto;
}

.text {
  margin: 0 auto;
  min-width: 300px;
  text-align: center;
  width: 30%;
}
