doctype html
html
    include layout/_head
    body
        div.wrapper
            header.header
                nav.nav
        main.main
            div.name
                p.gigantic BOILERPLATE
                h1 Gulp / Webpack
            div.text
                p
                | Love Intelligentsia gochujang echo park post-ironic squid four dollar toast, whatever tbh tumblr ugh narwhal cardigan. Ennui master cleanse chicharrones, butcher tilde glossier intelligentsia
                | live-edge health goth. Hammock vegan fam before they sold out organic jianbing. Succulents air plant sartorial kickstarter, tumeric plaid green juice. Adaptogen wolf kombucha DIY unicorn,
                | kale chips la croix plaid echo park vice distillery narwhal heirloom chambray meditation. Schlitz vegan distillery pork belly brooklyn blog. Sartorial synth chillwave, shoreditch mlkshk four
                | loko sriracha vegan hella messenger bag bitters ugh tumblr.
        include layout/_foot
        script(src='/build/js/build.js')